<div class="container1">
    <div class="introimg row">
        <p class="display-1 text-center mt-5">Wissen India</p>
        <div class="hr  mx-auto">
        </div>
    </div>
</div>
<div class="container about-us mb-5 ">
    <p class="text-muted text font-weight-light">WISSEN is India's emerging “Event 
        Organising and Web-Servises Provider” focussed to provide a higher 
        quality of education and web products with the help of our skilled 
        volunteers. Now with Wissen it becomes unchallenging to find out a 
        web-services provider, as we are all time ready to build up your idea
         or product and lead it to the great heights. We also conducts multiple
          events and Hackathons in various universities so that students can showcase
           their skills. Experience a new wave of Services with Wissen, no matter 
           what is your budget, we have something for you.</p>
</div>
<div class="row services bg-dark my-5">
    <div class="head mt-5">
        <h2 class="ourservices text-center  text-white">Our Services</h2>
        <div class="hr  mx-auto">
        </div>
        <p class="text-center text-white mt-1">WissenIndia Provides Digital Platform <br> for Event Management and booking solution</p>
   <div class="row justify-content-center servicesDetails mt-0 p-5 mb-5">
        <div class="card col-md-4 text-center p-2 ">
            <h4 class="card-title">Register Event</h4>
        </div>
        <div class="card col-md-4 text-center p-2 ">
            <h4 class="card-title">Join Organisation</h4>
        </div>
        <div class="card col-md-4 text-center p-2 ">
            <h4 class="card-title">Add Your Club / Organisation</h4>
        </div>
        <div class="card col-md-4 text-center p-2 ">
            <h4 class="card-title">Manage Events & Audience Online</h4>
        </div>
    </div>
    </div>
</div>

<div class="why-us text-center">
    <h1 class="">Why Choose Use?</h1>
    <div class="hr  mx-auto">
    </div>
    <p class="text-muted text mt-3 ">
        We provide better platform to manage <br> various services at one place.
    </p>
    <div class="row justify-content-center  mt-0 p-5 mb-5">
        <div class="card col-md-2 text-center p-2 ">
            <h4 class="card-title">Interactive Dashboard</h4>
            <img src="https://img.icons8.com/fluent/100/000000/dashboard.png"/>
        </div>
        <div class="card col-md-2 text-center p-2 ">
            <h4 class="card-title">Join Organisation with easy Apply</h4>
            <img src="https://img.icons8.com/metro/100/4a90e2/hand-cursor.png"/>
        </div>
        <div class="card col-md-2 text-center p-2 ">
            <h4 class="card-title">Post Any number of event free</h4>
            <img src="https://img.icons8.com/metro/100/4a90e2/infinity.png"/>
        </div>
        <div class="card col-md-2 text-center p-2 ">
            <h4 class="card-title">Smart Event Reminder</h4>
            <img src="https://img.icons8.com/ios-filled/100/4a90e2/add-reminder.png"/>
        </div>
    </div>
</div>


<div class="team text-center">
    <h1 class="">Team</h1>
    <div class="hr  mx-auto">
    </div>
    <p class="text-muted text mt-3 ">
        Meet our team of experts
    </p>
    <div class="row justify-content-center  mt-0 p-5 mb-5">
        <div class=" col-md-4 text-center p-2 m-auto">
           <div class="rounded-circle dev-1">
               <div class="info">
                <p class="text-white h3">Anuj Chaudhary</p>
                <p class="text-white">Cheif Developer</p>
               </div>
           </div>
        </div>
        <div class=" col-md-4 text-center p-2 ">
            <div class="rounded-circle dev-2">
                <div class="info">
                    <p class="text-white h3">Vanshika Goel</p>    
                    <p class="text-white">UI/UX Developer</p>
                </div>
            </div>
        </div>
</div>