<div class="row">
    <h1 class="display-3 text-center">Post Event</h1>
    <form [formGroup]="saveEvent" (ngSubmit)="onSubmit()">
        <div class="row bg-light p-3 mb-5">
            <div class="col-md-6">
                <div class="p-3">
                    <div class="row mt-2">
                        <div class="col-md-6 form-group">
                            <label class="label ">Event Name:</label>
                            <input [class.is-invalid]="saveEvent.get('eventname').invalid && 
                            saveEvent.get('eventname').touched" class="form-control" formControlName="eventname" type="text"
                                placeholder="Event Name" value="">
                        </div>
                        <div class="col-md-6"> <label class="label">Event Head name:</label>
                            <input [class.is-invalid]="saveEvent.get('eventheadname').invalid && 
                            saveEvent.get('eventheadname').touched" class="form-control" formControlName="eventheadname"
                                type="text" value="" placeholder="Event Head name">
                        </div>
                    </div> 
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="label">Event Type:</label><br>
                            <select class="form-control" [class.is-invalid]="saveEvent.get('eventType').invalid && 
                            saveEvent.get('eventType').touched" formControlName="eventType" id="cars">
                                <option value="IT">IT/Hackathon/Coding etc.</option>
                                <option value="Bussiness">Bussiness</option>
                                <option value="Entertainment">Entertainment</option>
                                <option value="Motivational">Motivational</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="label">Location</label>
                            <input class="form-control" [class.is-invalid]="saveEvent.get('location').invalid && 
                            saveEvent.get('location').touched" formControlName="location" type="text" placeholder="Enter Location">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="label">Discription of Event</label>
                            <input class="form-control" [class.is-invalid]="saveEvent.get('discription').invalid && 
                            saveEvent.get('discription').touched" formControlName="discription" type="text"
                                placeholder="Write something about Event">
                        </div>
                        <div class="col-md-6">
                            <label class="label">Registration fee</label>
                            <input class="form-control" [class.is-invalid]="saveEvent.get('fee').invalid && 
                            saveEvent.get('fee').touched" formControlName="fee" type="number"
                                placeholder="Enter Registration fee of event">
                        </div>
                    </div>

                    <div class="form-group">
                             <input type="file" class="form-control" (change)="fileChangeEvent($event)"  multiple>   
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="row p-3">
                    <div class="col-md-8">
                        <label class="label">Organisation Name:</label>
                        <br>
                        <input type="text" class="form-control" [class.is-invalid]="saveEvent.get('organisation').invalid && 
                        saveEvent.get('organisation').touched" formControlName="organisation">
                    </div>
                    <div class="col-md-4">
                        <label class="label">Event Date:</label>
                        <br>
                        <input type="date" id="datepicker" class="form-control" [class.is-invalid]="saveEvent.get('date').invalid && 
                        saveEvent.get('date').touched" formControlName="date">
                    </div>
                </div>

            </div>
            <div class="mt-2 text-center">
                <button class="btn btn-primary " [disabled]="saveEvent.invalid" type="submit">Submit Details</button>
            </div>
        </div>
    </form>
</div>