<div class="row">
    <nav class="navbar p-0 col-md-2 col-sm-12 d-flex flex-column bg-dark text-justify">
        <ul>
            <li style="margin-top: 20px;"><img src="https://img.icons8.com/material/24/ffffff/user-female-circle.png"/><a routerLink="/dashboard" (click)="donShowNo()">Overview</a></li>
            <li style="margin-top: 20px;"><img src="https://img.icons8.com/material/24/ffffff/user-female-circle.png"/><a routerLink="my-profile" (click)="donShow()">Profile</a></li>
            <li><img src="https://img.icons8.com/material/24/ffffff/cottage.png"/><a routerLink="add-Event"  (click)="donShow()">Add Event</a></li>
            <li><img src="https://img.icons8.com/material/24/ffffff/list.png"/> <a routerLink="event-List"  (click)="donShow()">Event List</a></li>
            <li><img src="https://img.icons8.com/material/24/ffffff/business-contact.png"/> <a routerLink="participants"  (click)="donShow()">Participants details</a></li>
            <li><img src="https://img.icons8.com/material/24/ffffff/business-contact.png"/> <a routerLink="my-organisation"  (click)="donShow()">My Organisation</a></li>
            <li><img src="https://img.icons8.com/material/24/ffffff/business-contact.png"/> <a routerLink="members"  (click)="donShow()">Team</a></li>
            <li><img src="https://img.icons8.com/material/24/ffffff/business-contact.png"/> <a routerLink="grivences"  (click)="donShow()">Grivences</a></li>

        </ul>
    </nav>
      <div class="col-md-10 col-sm-12">
          <div class="row p-5" id="dashboard" *ngIf="showDashboard">
              <p class="display-4 text-center p-1 m-1">Dashboard</p>
            <div class="card-body col-md-4 bg-light">
                <h5 class="card-title text-center ">Total Events</h5>
                <p class="text-success display-3 text-center">{{eventCount}}</p>
            </div>
            <div class="card-body col-md-4 bg-light">
                <h5 class="card-title text-center">Total Event participants</h5>
                <p class="text-success display-3 text-center ">{{participantCount}}</p>
            </div>
            <div class="card-body col-md-4 bg-light">
                <h5 class="card-title  text-center">Grivences </h5>
                <p class="text-success display-3 text-center">{{grivenceCount}}</p>
            </div>
          </div>
       <router-outlet></router-outlet>
      </div>
</div>