<div class="row mt-5 p-4">
  <div class=" card bordertop col-md-8 left">
    <div class="row bg-light p-3">
      <h1 class="h1">{{event.eventname}}</h1>
        <p class="text-dark text-weight-bold">{{event.eventname}} is a {{event.eventType}} type event, organised by
          {{event.organisation}}. Event is head by Event Head Mr. {{event.eventheadname}}
          {{event.discription}}
        </p>

    </div>
   
    <div class="row card mt-2">
      <div class="row">
          <img [src]="selectimg" alt="" class="img-main card-img">
      </div>
      <div class="row p-2">
        <div class="column mb-2">
          <div class="imgbar" *ngFor="let img of images">
            <img [src]="img" alt="" class="img" (click)="onSelectImg(img)">
          </div>
        </div> 
      </div>
    </div>
  </div>  
 
  <div class="col-md-4 bg-light">  
    <div class="row payment-card">
      <div class="col-md-12 text-white">
        <div class="col-md-12 bg-dark p-5">
          <p class="text-muted">Register to receive hackathon updates, 
            find teammates, and submit your entry</p>
            <hr>
            <h4 class="date text-primary1">Submission Closes on</h4>
            <p class="text-muted">{{event.date}}</p>
            <hr>
            <p class="text-muted">Location : {{event.location}}</p>
            <hr>
            <div class="pay p-2">
              <span class=" h3 text-success">  <p class=" h3 text-white1">Registration Fee:</p> Rs. {{event.fee}} <del class="text-muted"><small>{{event.fee+400}}</small></del></span>
            <button class="btn btn-success item-align-center mt-2" (click)="registerPage()">proceed to Register</button>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>