
.w-100 {
    width: 100% !important;
    height: 75vh;
  }



  .img-main
  {

    height: 400px;
  }

  .imgbar img
  {
    max-width: 200px;
    width: 90%;
    height: 100%;
  }

  .column
  {
    display: flex;
    flex-direction: row;

  }
  .imgbar img:hover{
    box-shadow: 5px 5px 15px rgb(36, 33, 33);
  }

  .payment-card
  {
    position: sticky;
    top:100px;
  }


  .card:nth-child(1)
  {
    box-shadow: 5px 5px 15px grey;
  }

  .text-primary1,.text-white1,h1
  {
    color:rgb(240, 105, 57)
  }