<div class="container">
    <h1 class="display-5 text-center pt-2">My account</h1>
    <p class="h4 text-dark p-3 text-center">Registered Events</p>
    <div class="row">
        <div class="card bg-light col-md-4 m-2" *ngFor="let event of myevents" style="width: 18rem;">
            <!-- <img src="../../../../../assets/Room3.jpg" alt="" class="card-img-top"> -->
            <div class="card-body">
                <h5 class="card-title text-center color1">{{event.eventname}}</h5>
                <p class="card-text ">Event date: {{event.date}}</p>
                <p class="card-text "><b>Event Id: </b>{{event.eventid}}</p>
                <p class="card-text "><b>Manager Id: </b>{{event.managerid}}</p>
                <p class="card-text "><b>Registration fee Paid:</b> {{event.fee}}</p>
            </div>
        </div>
    </div>
</div>